@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
   margin : 0%; 
   padding : 0% ;
   box-sizing: border-box ;
}
 
html,body{
 height: 100% ; 
 width: 100%;
 min-height: 100vh;
 font-family: "poppins" ,sans-serif ;
 background: #f0f2f5;
 padding: 40px 20px ;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    background: white;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 30px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    grid-column: 1/-1;

}
.search-bar{
     position: relative;
     flex: 1;
     max-width: 500px;

}

.search-bar input{
    width: 100%;
    padding: 12px 45px ;
    border: solid 2px #e5e7eb;
    border-radius: 15px;
    font-size: 15px;
    outline: none;
    transition: all 0.3s ease;
}

.search-bar input:focus{
    border-color: #e453ac;
}

.search-bar i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #e34ecc;
    
}

.header-icons{
    display: flex;
    gap: 30px;
    align-items: center;
}

.icon-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #f3f4f6;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    position: relative;
}
.icon-btn:hover{
    background: #8e9c;
}

.notification-dot{
    position: absolute;
    top: 9px;
    right: 12px;
    height: 6px;
    width: 6px;
    background: red;
    border-radius: 50%;
}