@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
   margin : 0%; 
   padding : 0% ;
   box-sizing: border-box ;
}
 
html,body{
 height: 100% ; 
 width: 100%;
 min-height: 100vh;
 font-family: "poppins" ,sans-serif ;
 background: #f0f2f5;
 padding: 40px 20px ;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    background: white;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 30px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    grid-column: 1/-1;

}
.search-bar{
     position: relative;
     flex: 1;
     max-width: 500px;

}

.search-bar input{
    width: 100%;
    padding: 12px 45px ;
    border: solid 2px #e5e7eb;
    border-radius: 15px;
    font-size: 15px;
    outline: none;
    transition: all 0.3s ease;
}

.search-bar input:focus{
    border-color: #e453ac;
}

.search-bar i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #e34ecc;
    
}

.header-icons{
    display: flex;
    gap: 30px;
    align-items: center;
}

.icon-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #f3f4f6;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    position: relative;
}
.icon-btn:hover{
    background: #8e9c;
}

.notification-dot{
    position: absolute;
    top: 9px;
    right: 12px;
    height: 6px;
    width: 6px;
    background: red;
    border-radius: 50%;
}

.main-content{
    padding-right: 20px; 
}

.title-section {
    margin-bottom: 40px;
}

.greeting  {
    font-size: 1rem;
    color: black;
    margin-bottom: 10px;
    height: 25px;
}
.title-section h1 {
        font-size: 42px;
        font-weight: 400;       
}

.title-section h1 .task-count {
    color: #e44899;
}

.add-btn {
    background: #79a0ee;
    color: whitesmoke;
    border: none ;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 15px;
    transition: all 0.3s ease;
    border-radius: 15px;
}

.add-btn:hover {
    background: #f7bbe0;
    border: 1.5px solid black;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(245, 100, 187, 0.3);
}

.section {
    margin-bottom: 40px;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.section-header h2 {
    font-size: 22px;
    font-weight: 600px;
    color:#1f2937 ;
}

.badge {
    padding:4px 12px ;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600px;

}
.badgeInactive {
    background: #fee2e2;
    color: #dc2626;
    font-size: 14px;
    font-weight: 500;  
}

.task-item {
    background: #f0f2f5;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.task-item:hover {
        transform: translateX(5px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.task-checkbox{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid red;
    cursor: pointer;
    transition: all 0.3s ease;
}

.task-checkbox.completed {
    background: #ec4899;
    position : relative ;
}

.task-checkbox.completed::after{
    content: '✓';
    position: absolute;
    color: white;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.text-content {
    flex: 1;
}

.task-title {
    font-size: 15px;
    color: #1f2937;
    margin-bottom: 5px;
}
.task-title.completed{
    text-decoration: line-through;
    color: #9ca3af;
}

.status-badge{
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;

}

.status-pending {
    background: #fef3c7;
    color: #f59e0b;
}
.status-progress {
    background: #bdeafe;
    color: #3b82f6;
}
.status-completed {
    background: #d1fae5;
    color: #10b981;
}
.status-cancelled {
    background: #fef3c7;
    color: #f59e0b;
}

.priority-badge {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    font-weight: 600;
}

.priority-critical{
    color: #dc2626;
    
}
.priority-normal{
    color: #f59e0b;

}
.priority-minor{
    color: #10b981;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #8b6cf6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: 600;
    
}


.sidebar {
    background: #faf7f9;
    border-radius: 20px;
    padding: 25px;
}

.sidebar-section {
    margin-bottom: 25px;
}

.sidebar-title {
    font-size: 18px;
    font-weight: 600;
    color: #1f2937;
    margin-bottom: 15px;
}

.stat-card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.stat-label {
    font-size: 12px;
    color: #6b7280;
    margin-bottom: 8px;
}

.stat-value {
    font-size: 2rem;
    font-weight: 700%;
    color: #1f2937;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background: #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-fill {
    height: 100%;
    background: #f7bbe0;
    border-radius: 10px;
    transition: 0.3 all ease;
}
.badges{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    justify-content: center;
    align-items: center;   
}

.modal.active {
    display: flex;
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 90%;
    max-width: 500px;
}

.modal-header {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1f2937;
}

.form-group{
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #4088f5;
    margin-bottom: 8px;
}

.form-group input ,
.form-group select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #e5e7eb;
    outline: none;
    font-size: 14px;
    transition: all 0.3s ease;
}

.form-group input:focus ,
.form-group select:focus {
    border-color: #e453ac;
}

.modal-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.btn{
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary{
    background: #3b82f6;
    color: white;
    opacity: 0.7;
}
.btn-primary:hover {
    opacity: 1;
    border: 2px solid black;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18);
}
.btn-secondary{
    background: #ff3636;
    color: white;
    opacity: 0.7;
}
.btn-secondary:hover {
    opacity: 1;
    border: 2px solid black;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18);
}

@media(max-width: 1024px) {
        .container {
            grid-template-columns: 1fr;
            
        }
}

/*const taskCard = /*
<div class="task-item">
                    <div class="task-checkbox " onclick="toggleTask()"></div>
                    <div class="task-content">
                        <div class="task-title " >Cooking something</div>
                    </div>
                    <span class="status-badge status-pending"></span>
                    <div class="priority-badge priority-something">
                        <i class="ri-checkbox-blank-circle-fill"></i>
                    </div>
                    <div class="avatar">CF</div>
                    <button class="icon-btn" style="width: 30px; height: 30px;" onclick="editTask()">
                        <i class="ri-pencil-fill" style="font-size: 12px;"></i>
                    </button>
                    <button class="icon-btn" style="width: 30px; height: 30px;" onclick="deleteTask()">
                        <i class="ri-delete-bin-fill" style="font-size: 12px;"></i>
                    </button>
                </div>
                */